#header{
    background-color: #d22b2b;
    height: 100px;
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'logo loginReg';
    
}
#loginReg{
    grid-area: loginReg;
    margin-left: 80%;
    display: inline;
}
.logoCon{
    grid-area: logo;
}
.lgrgBtn{
    margin-top: 30px;
    margin-right: 8px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    
}
#logo{
    width: 100px;
    margin: 10px;
}